.navbar {
    height: 60px;
    background-color: rgba(44, 33, 201, 0.698);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
  }
  
  .logo{
    font-size: 20px;
  }
  
  .list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .listitem {
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

   
  .link{
    color: inherit;
    text-decoration: none;
  }