.login {
    padding: 50px 0;
    align-items: center;
    justify-content: center;
  }

  input{
    width: 250px;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .loginbutton{
    width: 300px;
    background-color: rgba(4, 6, 90, 0.671);
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
  }
  
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 530px; 
    width: 300px;
    color: gray;
    
  }
  
  .hrline {
    flex-grow: 1;
    border: none;
    border-top: 1px solid gray; 
    margin: 0 20px; 
  }
  
  .or {
    white-space: nowrap; 
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .down {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginbybutton{
    width: 250px;
    height: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .google{
    /* background-color: #df4930; */
    border: 2px solid #df4930;
  }

  .google:hover{
    background-color: #df4930;
  }

  .microsoft{
    /* background-color: #507cc0; */
    border: 2px solid #507cc0;
  }

  .microsoft:hover{
    background-color: #507cc0;
  }
  
  .icon{
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  
